@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700&display=swap');
:root {
	--orange: #e92800;
	--grey: #60686e;
	--tan: #fbf3ed;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--tan);
	overflow: hidden;
	font-family: 'Josefin Sans', sans-serif;
	color: black;
}

::selection {
	color: var(--tan);
	background: var(--orange);
}

.App-container {
	display: flex;
	justify-content: flex-end;
	max-width: 1800px;
	height: 100vh;
	margin-left: auto;
}

.App-content {
	display: flex;
	justify-content: space-between;
	min-width: 300px;
}

.Content-main {
	min-width: 300px;
	width: 32vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	margin-top: 4rem;
}

h1 {
	font-size: 4.5rem;
	font-style: normal;
	font-weight: 400;
	color: var(--orange);
}

.description {
	color: var(--grey);
	padding-left: 0.8rem;
	font-style: italic;
}

.Controls {
	margin-bottom: 1rem;
}

.Control-btn {
	font-size: 1rem;
	font-style: italic;
	font-family: inherit;
	border: 0;
	margin-right: 1.6rem;
	background-color: transparent;
	color: var(--orange);
	-webkit-appearance: none;
	-moz-appearance: none;
}

.Control-btn:hover,
.Control-btn:focus,
.Control-btn:active {
	outline: none;
}
.Control-btn:hover {
	outline: none;
	color: var(--grey);
}

.Ipsum-container {
	overflow-y: scroll;
}
.Ipsum-container::-webkit-scrollbar {
	display: none;
}

.Ipsum {
	width: 32vw;
	line-height: 2rem;
	height: 55vh;
}

.Content-menu {
	width: 21vw;
	height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.Nav {
	margin-right: 4rem;
	margin-bottom: 2rem;
}

ul {
	list-style: none;
}

.NavItem {
	font-style: italic;
	text-align: end;
	margin-top: 1.6rem;
	color: var(--grey);
}

.NavItem:hover {
	color: var(--orange);
}

.NavItem:active {
	color: var(--orange);
}

.App-image-container {
	min-width: 300px;
	width: 40vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	opacity: 90%;
}
